main {
  padding-top: 100px; 
}
    
.toolbar {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%;
  max-width: 480px; 
  background-color: #FEFCF5;
  padding: 10px;
  border-radius: 7px;
  margin: auto; 
  margin-bottom: 60px;
  box-shadow:  0px 0px 30px 8px #05656c4a;
  flex-wrap: wrap;
}
  
.dropdown {
  display: flex;
  position: relative;
  margin-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 2px solid #1F3030;
}
  
.dropdown:first-child {
  border-left: none;
  padding-left: 0;
}
  
.dropbtn {
  background-color: #FEFCF5;
  color: #1F3030;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
  
.date-picker {
  display: none;
  position: absolute;
  background-color: #FFFDF8;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 1;
}
  
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFDF8;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}
  
.dropdown-content button {
  background-color: #FEFCF5;
  color: #1F3030;
  padding: 12px 16px;
  font-size: 16px;
  border: none;
  text-align: left;
  width: 100%;
  cursor: pointer;
  white-space: nowrap;
  }
  
.dropdown-content button:hover {
  background-color: #05656c4a;
}
  
.dropdown:hover .dropdown-content,
.dropdown .dropbtn:focus + .date-picker {
  display: block;
}
  
.search-btn {
  background-color: #C2644F;
  color: #FFFDF8;
  padding: 20px 30px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 7px;
  transition: background-color 0.3s, transform 0.3s; 
}
  
.search-btn:hover {
  background-color: #A9533B; 
  transform: scale(1.05); 
}
  
  
.mountain-range-block h1 {
  font-size: 44px;
  text-align: left;
  margin-left: 40px;
  margin-bottom: 70px;
}

.mountain-range-block img {
  width: 100%;
  height: auto;
}

  
.comments {
  padding: 20px 30px 0;
  background-color: #FCF8EB;
}

.comments-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 40px;
  gap: 42px;
}

.more-comments {
  display: none; 
  justify-content: space-evenly;
  gap: 50px;
  flex-wrap: wrap;
}

.toggle-button {
  display: block;
  margin: 30px auto;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  background-color: #C2644F;
  color: #FEFCF5;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 5px;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.toggle-button:hover {
  background-color: #A9533B;
  transform: scale(1.05);
}



