@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap');

* {
    box-sizing: border-box;
    font-family: "Unbounded";
}

body {
    margin: 0;
    background-color: #FCF8EB;
    line-height: 30px;
    color: #1F3030;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
}

::selection{
    background:	#C2644F;
    color: #fff;
  }

p, span {
    font-weight: 300;
}

button:hover {
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.card a:hover {
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    background-color: #1F3030;
    color: #FEFCF5;
    position: fixed;  
    top: 0;          
    left: 0;          
    right: 0;         
    z-index: 1000;    
}


header img {
    height: 34px;
    width: auto;
}

.header-nav {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    position: fixed;  
    left: 50%;        
    transform: translateX(-50%); 
    top: 25px;           
    z-index: 1000;    
}


.header-nav span {
    font-size: 18px;
    font-weight: 300;
}

.header-nav .page {
    font-size: 16px;
    font-weight: 300;
}


footer {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
    padding: 40px 30px;
    background-color: #1F3030;
    color: white;
    margin-top: 30px;
}

footer > div {
    display: flex;
    align-items: center;
    gap: 40px;
}

footer div {
    display: flex;
    align-items: center;
    gap: 40px;
}

footer h1, footer h4 {
    margin: 0
}

footer > div:last-child {
    margin-right: 130px;
}

