
.mountain-range-block {
  position: relative;
  overflow: hidden;
}

.mountain-range-block .container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hora {
  position: absolute;
  color: #FEFCF5;
  font-size: 20px;
}

#hora1 {
  position: absolute;
  top: 58%;
  left: 7%; 
}

#hora2 {
  position: absolute;
  left: 35%;
  top: 37%;
}

#hora3 {
  position: absolute;
  left: 61%;
  top: 43.5%;
}

#hora4 {
  position: absolute;
  left: 78.5%;
  top: 49.5%;
}

.header-nav a {
  font-size: 18px;
  font-weight: 300;
}

.toolbar {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  background-color: #FEFCF5;
  padding: 10px 10px;
  align-items: center;
  border-radius: 7px;
}

.dropdown {
  display: flex;
  position: relative;
  margin-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 2px solid #1F3030;
}

.dropdown:first-child {
  border-left: none;
  padding-left: 0;
}

.dropbtn {
  background-color: #FEFCF5;
  color: #1F3030;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.date-picker {
  display: none;
  position: absolute;
  background-color: #FFFDF8;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFDF8;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  background-color: #FEFCF5;
  color: #1F3030;
  padding: 12px 16px;
  font-size: 16px;
  border: none;
  text-align: left;
  width: 100%;
  cursor: pointer;
  white-space: nowrap;
}

.dropdown-content button:hover {
  background-color: #f7f0de;
}

.dropdown:hover .dropdown-content,
.dropdown .dropbtn:focus + .date-picker {
  display: block;
}

.search-btn {
  background-color: #C2644F;
  color: #FFFDF8;
  padding: 20px 30px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 7px;
  transition: background-color 0.3s, transform 0.3s;
}

.search-btn:hover {
  background-color: #A9533B; 
  transform: scale(1.05); 
}


.comments {
    padding: 50px 30px 0;
}

.comments-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.comment {
    width: 700px;
    background-color: #FEFCF5;
    padding: 30px;
    border-radius: 90px 0 50px 50px;
    box-shadow: 0 0 10px 0 rgba(51, 87, 81, 0.25);
}

.comment .upper-section, .comment  .lower-section, .comment .central-section {
    display: flex;
    gap: 40px;
}

.comment .central-section {
    justify-content: space-evenly;
    margin-top: -20px;
    margin-bottom: 5px;
}

.comment .lower-section {
    padding-top: 12px;
}

.comment .rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
}
.comment .image-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 63px;
    width: 126px;
    height: 126px;
}

.comment img {
    width: auto;
    height: 126px;
}

.comment .user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding-top: 15px;
}

.comment .user-profile p {
    font-weight: 400;
    white-space: nowrap;
}

.comment .text-section p, .comment .text-section span {
    padding-bottom: 2px;
    font-size: 15px;
    margin: 0;
}

.text-section a {
    color: #C2644F;
}

.comment .text-section {
    display: flex;
    flex-direction: column;
    min-height: 300px;
   
}

.comment .text-section p {
    font-weight: 400;
    color:  #1F3030;
}

.comment .text-section span {
    line-height: 25px;
    font-weight: 300;
}

.comment .lower-section h3 {
    margin: 0;
    font-weight: 500;
}

.comment .label {
    font-weight: 400;
    color:  #1F3030;
  }

.comment .value {
  font-size: 18px;
  color: #C2644F;
  font-weight: 400;
  }
.comment .lower-section button {
    white-space: nowrap;
    border: 0;
    border-radius: 10px;
    background-color: #C2644F;
    color: white;
    font-family: inherit;
    font-size: 16px;
    padding: 15px 20px;
}

.comment .lower-section button:hover {
    background-color: #d66b54;
}

.comment .lower-section button:active {
    background-color: #b05946;
}

.why-we-are-trusted {
  padding: 50px;
}

.why-we-are-trusted h2 {
  font-weight: 700;
  font-size: 25px;
  padding-bottom: 20px;
}

.why-we-are-trusted ol li:not(:last-child){
    padding-bottom: 20px;
}

.why-we-are-trusted ol{
 margin-left: 25px;
 margin-right: 50px;
}

.tours h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    
  }
  
  .tours-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .tours-list .container{
    max-width: 1500px;
    width: 100%;
    overflow: hidden;
    padding: 15px 0;
  }
  .container .main-card{
    display: flex;
    justify-content: space-evenly;
    width: 200%;
    transition: 1s;
  }
  #two:checked ~ .main-card{
    margin-left: -100%;
  }
  .container .main-card .cards{
    width: calc(100% / 2 - 10px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    justify-content: space-between;
  }
  .main-card .cards .card{
    width: 342px;
    height: 493px;
    background-color: #FEFCF5;
    border-radius: 38px 3px 20px 20px;
    box-shadow: 0 4px 8px rgba(51, 87, 81, 0.25);
    transition: all 0.4s ease;
  }

  .main-card .cards .card:hover{
    transform: translateY(-15px);
  }
  
  .tour-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 38px 3px 0px 0px;
  }
  
  .title {
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    padding: 7px 22px;
    color: #1F3030;
    margin-top: -10px;
    margin-bottom: 25px;
    background-color: #FEFCF5;
    min-height: 63.5px;
  }
  
  .central-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: -23px;
  }
  
  .info-item {
    display: flex;
    align-items: center;
    width: calc(50%);
    margin-bottom: 20px;
  }
  
  .icon {
    width: 24px;
    font-size: 20px;
    color: #C2644F;
    margin-right: 10px;
    margin-left: 13px;
  }
  
  .text-group {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    font-size: 14px;
    color: #666666;
    font-weight: 300;
    margin-top: -3px;
    margin-bottom: -3px;
  }
  
  .value {
    font-size: 14px;
    font-weight: 500;
    margin-top: -1px;
    margin-bottom: -3px;
  }
  
  .card .lower-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-top: 1px solid #EEEEEE;
    width: 100%; 
  }
  
  .lower-info {
    display: flex;
    align-items: left;
    width: 100%; 
  }
  
  .guide-photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 2px;
    margin-right: 5px;
  }
  
  .guide {
    display: flex;
    align-items: center;
    width: 60%; 
  }
  
  .guide-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    width: calc(100% - 75px); 
  }
  
  .guide-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    width: 100%; 
  }
  
  .rating {
    font-size: 14px;
    color: #C2644F;
    width: 100%; 
  }
  
  .price {
    width: 140px;
    height: 70px;
    font-size: 14px;
    font-weight: 400;
    color: #FEFCF5;
    background-color: #C2644F;
    border-radius: 20px 0 20px 0;
    text-align: center;
    border: 0;
    flex-shrink: 0; 
  }
  
   .container .button{
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  .button label{
    height: 15px;
    width: 15px;
    border-radius: 20px;
    background: #C2644F;
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .button label.active{
    width: 35px;
  }
  #one:checked ~ .button .one{
    width: 35px;
  }
  #one:checked ~ .button .two{
    width: 15px;
  }
  #two:checked ~ .button .one{
    width: 15px;
  }
  #two:checked ~ .button .two{
    width: 35px;
  }
  input[type="radio"]{
    display: none;
  }


  .photo-gallery{
    margin-top: 100px;
    margin-bottom: 0px;

  }

  .photo-gallery h2 {
    font-weight: 700;
    font-size: 25px;
    padding: 30px;
    
    
}

.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 520px;
}
.photo {
  width: 390px;
  height: 440px;
  box-shadow: 1px 1px 3px #0008;
  transition: transform 0.3s ease-out;
  z-index: 0;
  border: 14px solid #FEFCF5;
  border-bottom: 80px solid #FEFCF5;
  margin-left: -80px;
  margin-right: -80px;
}
#photo1 {
  transform: rotate(11deg);
  left: 13%;
}
#photo2 {
  transform: rotate(-12deg);
  left: 26%;
}
#photo3 {
  transform: rotate(10deg);
  left: 39%;
}
#photo4 {
  transform: rotate(-8deg);
  left: 52%;
}
#photo5 {
  transform: rotate(5deg);
  left: 65%;
}
.photo-container {
  display: flex;
}
#photo1:hover,
#photo2:hover,
#photo3:hover,
#photo4:hover,
#photo5:hover {
  transform: rotate(0deg) scale(1.5);
  z-index: 1;
  box-shadow: 3px 4px 10px #0006;
}