main {
  padding-top: 100px; 
}
    
.toolbar {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%;
  max-width: 900px; 
  background-color: #FEFCF5;
  padding: 10px;
  border-radius: 7px;
  margin: auto; 
  margin-bottom: 60px;
  box-shadow:  0px 0px 30px 8px #05656c4a;
}
  
.dropdown {
  display: flex;
  position: relative;
  margin-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 2px solid #1F3030;
}
  
.dropdown:first-child {
  border-left: none;
  padding-left: 0;
}
  
.dropbtn {
  background-color: #FEFCF5;
  color: #1F3030;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
  
.date-picker {
  display: none;
  position: absolute;
  background-color: #FFFDF8;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 1;
}
  
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFDF8;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}
  
.dropdown-content button {
  background-color: #FEFCF5;
  color: #1F3030;
  padding: 12px 16px;
  font-size: 16px;
  border: none;
  text-align: left;
  width: 100%;
  cursor: pointer;
  white-space: nowrap;
}
  
.dropdown-content button:hover {
  background-color: #05656c2f;
}
  
.dropdown:hover .dropdown-content,
.dropdown .dropbtn:focus + .date-picker {
  display: block;
}
  
.search-btn {
  background-color: #C2644F;
  color: #FFFDF8;
  padding: 20px 30px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 7px;
  transition: background-color 0.3s, transform 0.3s; 
}
  
.search-btn:hover {
  background-color: #A9533B; 
  transform: scale(1.05); 
}
  
  
.mountain-range-block h1 {
  font-size: 44px;
  text-align: left;
  margin-left: 40px;
  margin-bottom: 70px;
}

.mountain-range-block img {
  width: 100%;
  height: auto;    
}
  
.tours-list {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin: auto;
}
  
.tours-list .container {
  width: 100%; 
  max-width: 1600px
}
  
.container .main-card {
  display: flex;
  flex-wrap: wrap; 
  padding: 0 20px;
  justify-content: space-between;
  transition: 1s;
}
  
.container .main-card .cards {
  width: 100%; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
  
.main-card .cards .card {
  width: 342px; 
  height: 493px; 
  background-color: #FEFCF5;
  border-radius: 38px 3px 20px 20px;
  box-shadow: 0 4px 8px rgba(51, 87, 81, 0.25);
  transition: all 0.4s ease;
  margin-bottom: 20px; 
}
  
.main-card .cards .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 4px 20px #127a8155;
}
  
.card .tour-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 38px 3px 0px 0px;
}
  
.card .title {
  font-size: 16px;
  line-height: 25px;
  text-align: left;
  padding: 7px 22px;
  color: #1F3030;
  margin-top: -10px;
  margin-bottom: 25px;
  background-color: #FEFCF5;
  min-height: 63.5px;
}
  
.card .central-info {
  display: flex;
  flex-wrap: wrap;
  margin-top: -23px;
}
  
.card .info-item {
  display: flex;
  align-items: center;
  width: calc(50%);
  margin-bottom: 20px;
}
  
.card .icon {
  width: 24px;
  font-size: 20px;
  color: #C2644F;
  margin-right: 10px;
  margin-left: 13px;
}
  
.card .text-group {
  display: flex;
  flex-direction: column;
}
  
.card .label {
  font-size: 14px;
  color: #666666;
  font-weight: 300;
  margin-top: -3px;
  margin-bottom: -3px;
}
  
.card .value {
  font-size: 14px;
  font-weight: 500;
  margin-top: -1px;
  margin-bottom: -3px;
}
  
.card .lower-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-top: 1px solid #EEEEEE;
  width: 100%; 
}
  
.card .lower-info button{
  width: 140px;
  height: 70px;
  font-size: 14px;
  font-weight: 400;
  color: #FEFCF5;
  background-color: #C2644F;
  border-radius: 20px 0 20px 0;
  text-align: center;
  border: 0;
  flex-shrink: 0;
}
  
.card .lower-info button:hover {
  background-color: #d66b54;
}
  
.card .lower-info button:active {
  background-color: #b05946;
}
  
.card .lower-info {
  display: flex;
  align-items: left;
  width: 100%; 
}
  
.card .guide-photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 2px;
  margin-right: 5px;
}
  
.card .guide {
  display: flex;
  align-items: center;
   width: 60%; 
}
  
.card .guide-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;    
  width: calc(100% - 75px); 
}
  
.card .guide-name {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  width: 100%; 
}
  
.card .rating {
  font-size: 14px;
  color: #C2644F;
  width: 100%; 
}

  